body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFECEC;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}


#selected-image {
    max-width: 100%;
    height: auto;
}


.image-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button {
    padding: 14px;
    border-radius: 8px;
    font-size: 15px;
    margin-left: 30px;
    background-color: #0C2D57;
    color: #fff;
    border: none;
}

label{
    font-size: 20px;
    width: 50px;
}

input{
    font-size: 12px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
}


header{
    background-color: #0C2D57;
    padding: 2px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    
}

#load-image{
    margin-top: 20px;
}

h2{
    text-align: center;
}

.items{
    display: inline;
}

.cocktail{
    margin: 10px auto;
    margin-left: -60px;
}

#clear-button{
    margin-top: 15px;
}

.cocktail textarea {
    width: 100%; 
    height: 200px; 
    resize: none; 
    border-radius: 10px;
}

